<%include ../partials/header-backend.ejs%>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <%include ../partials/sidebar.ejs%>
            </div>
            <div class="col-md-5">
                <h3>Create a new member</h3>
                <form class="form-horizontal" name="createNewMember" action="/backend/add-new-member" method="post">
                    <div class="form-group">
                        <label for="memberName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="memberName" placeholder="Member name goes here" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="memberRole">Role</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="memberRole" placeholder="Member role goes here"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="timeSpent">Time Spent</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="timeSpent" placeholder="Time spent goes here"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="linkedinProfileLink">Linkedin</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="linkedinProfileLink" placeholder="Linkedin profile goes here"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="memberDescription">Member description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" name="memberDescription" placeholder="Member description goes here"></textarea>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Create new member">
                </form>
            </div>
            <div class="col-md-3">
                <h3>Guide for creating a new member</h3>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer-backend.ejs%>