<div class="col-md-2 container-main-project-teaser-images" ng-repeat="project in projectsPersonal2014 track by $index">

	<h3 class="project-title">{{ project.name }}</h3>
	<p class="project-type-title">Project type: {{ project.type }}</p>
	<div class="project-teaser-image-container">
		<img class="project-teaser-image" ng-src="img/portfolio/personal/{{ project.projectTeaserImage }}"/>
	</div>

	<p class="project-description-teaser">{{ project.description }}</p>
	<br class="clearFloats"/>
	<a data-scroll-goto="3" style="position: absolute; bottom: 0; left:0" ui-sref="projectDetail( {id: project._id} )" class="btn btn-info load-project">View Project</a>
</div>