

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-resource.min.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<script src="/js/backend-app.js"></script>
</body>
</html>