<h3>Main Menu</h3>
<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/backend/create-new-project">Create a new project</a></li>
    <li><a href="/backend/add-new-member">Add a new member to the team</a></li>
</ul>