<div class="container about-container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 about-me-description-container">

				<div class="img-container">
					<h1>Hi! My name is Cristian Sergiu Drincu, but...</h1>
					<h1 class="call-me-chris"><span class="highlight-name">you can call me Chris :)</span></h1>
					<br class="clearFloats"/>
				</div>
			<div class="container-fluid about-section-options">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-sm-4 col-md-4 col-lg-4">

						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">

						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">

						</div>
					</div>
				</div>
			</div>
				<div class="description-container container">
					<div ng-include="'js/modules/about/views/partials-text/about-me-intro-text.html'"></div>
				</div>
		</div>
	</div>
</div>

