<div class="col-md-5 col-md-offset-1 about-me-description-container">
	<div class="img-container">
		<img src="img/team/cristian-drincu-edit.png" alt="Cristian Sergiu Drincu"/>

		<h1>Hi! My name is Cristian Sergiu Drincu, but <span class="highlight-name">you can call me Chris.</span></h1>
		<br class="clearFloats"/>
	</div>
	<div class="description-container">
		<p>I've been busy <span class="highlight">programming and designing apps since 2002.</span> I've started by building
			my
			faculty's first multimedia CD, crafted with Macromedia Flash.
			After a TV application that I've built from scratch using Flash, I turned my eyes towards the front-end for
			the web: <span class="highlight">HTML, CSS and Javascript.
							Jquery followed soon after...</span>
		</p>

		<p>
			However, there was something missing. <span class="highlight">I wanted to build an entire app by
							myself, backend included.</span> I first
			turned to <span class="highlight">PHP</span> and later, while studying Computer Science, <span class="highlight">I discovered Java</span>,
			which helped me build <span class="highlight">my first
							desktop application using Swing and JDBC.</span> From there on out, the sky was the limit.
		</p>

		<p>
			<span class="highlight">I consider myself to be a complete programmer</span>, meaning that I can take a concept
			and
			implement it on both sides of the development cycle: frontend
			as well as the backend.
		</p>

		<p>
			<span class="highlight">In 2007 I've founded my own company, Globe-Studios.</span> This web project is a showcase
			of
			the work completed during <span class="highlight">2007-2012</span>, as well as a
			presentation of the team that developed the projects.
		</p>

		<p>
			Currently I'm involved in building <span class="highlight">fullstack javascript applications
							using NodeJS, Express, MongoDB and AngularJS.</span>
		</p>
	</div>
</div>
<div class="col-md-1"></div>
