<div class="container-fluid about-mission-options">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<h1 id="btn-discover-mission" ng-controller="MissionController" ng-click="loadMissionView()">
					<span class="my-mission"><span class="number-skill">1.</span> MY</span> <strong class="highlight-text">MISSION</strong>
				</h1>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<h1 id="btn-discover-beliefs" ng-controller="BeliefsController" ng-click="loadBeliefsView()">
					<span class="my-mission"><strong class="highlighted-text-section">2. MY BELIEFS</strong></span>
				</h1>
			</div>
			<div class="col-ms-4 col-md-4 col-lg-4">
				<h1 id="btn-discover-skills" ng-controller="SkillsController" ng-click="loadSkillsTimeline()">
					<span class="my-mission"><span class="number-skill">3.</span> MY</span> <strong class="highlight-text">SKILLS</strong>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mission-container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="col-md-6">
				<h1 class="beliefs-h1-small-multiple-lines">Strive not to be a success, but rather to be of</h1>
				<h1 class="beliefs-h1-largest">VALUE</h1>
				<h3 class="quote-author">Albert Einstein</h3>
				<br class="clearFloats"/>
			</div>
			<div class="col-md-offset-1 col-md-5 smaller-quote">
				<p>
					I believe that if you truly love web development, you will try and achieve a complete developer status, as I like to call it.
					It means that you can work on developing the UI and UX, write unit tests as well as be able to manipulate data.
				</p>
				<p>
					I also believe that you must be a pragmatic programmer – learn a new programming language every year, read books on emerging technologies,
					take online courses, certify yourself - be marketable and a valuable asset.
				</p>
			</div>
		</div>
	</div>
</div>
