<div class="container-fluid about-mission-options">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<h1 id="btn-discover-mission" ng-controller="MissionController" ng-click="loadMissionView()">
					<span class="my-mission"><strong class="highlighted-text-section">1. MY MISSION</strong></span>
				</h1>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<h1 id="btn-discover-beliefs" ng-controller="BeliefsController" ng-click="loadBeliefsView()">
					<span class="my-mission"><span class="number-skill">2.</span> MY</span> <strong class="highlight-text">BELIEFS</strong>
				</h1>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<h1 id="btn-discover-skills" ng-controller="SkillsController" ng-click="loadSkillsTimeline()">
					<span class="my-mission"><span class="number-skill">3.</span> MY</span> <strong class="highlight-text">SKILLS</strong>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mission-container">
	<div ng-include="'js/modules/about/views/partials-text/about-me-mission-text.html'"></div>
</div>
