<div class="col-md-4 skills-container">
	<h1 id="btn-discover-mission" ng-click="loadTemplate(1)">
		<span class="my-mission">MY</span> <strong>MISSION</strong>
	</h1>
	<br class="clearFloats"/>

	<div class="mission-description">
		<p ng-click="loadTemplate(0)" class="return-to-main-about-section"><i class="fa fa-arrow-circle-left return-icon"></i> Return to reading more about me</p>
	</div>

	<h1 id="btn-discover-beliefs" ng-click="loadTemplate(2)"><span class="my-mission">MY</span> <strong>BELIEFS</strong></h1>
	<br class="clearFloats"/>

	<div class="beliefs-description">
		<p ng-click="loadTemplate(0)" class="return-to-main-about-section"><i class="fa fa-arrow-circle-left return-icon"></i> Return to reading more about me</p>
	</div>

	<h1 id="btn-discover-skills"><span class="my-mission">MY</span> <strong>SKILLS</strong></h1>
	<br class="clearFloats"/>

	<div class="skills-description">
		<p ng-click="loadTemplate(0)" class="return-to-main-about-section"><i class="fa fa-arrow-circle-left return-icon"></i> Return to reading more about me</p>
	</div>
</div>