<div class="menu-project-categories">
	<ul>
		<li>
			<p class="project-category-identifier">DESIGN</p>
			<p class="project-category-description">
				These are the web design projects crafted by me, Ciprian and Simina.
				<br/><br/>
				During 2010-2012 timespan, I had to take on the role of web designer as well, since both of them left early 2010.
			</p>
			<button class="btn btn-info graphics-project" ng-click="loadGraphicsProjects()">Load graphic &amp; design projects</button>
		</li>
		<li>
			<p class="project-category-identifier">DEVELOPMENT</p>
			<p class="project-category-description">
				Web development projects for 2007-2012 are presented here.
				<br/><br/>
				These include projects that we started from scratch or projects that were outsourced to us by third parties.
			</p>
			<button class="btn btn-info web-projects" ng-click="loadWebDevelopmentProjects()">Load web development projects</button>
		</li>
		<li>
			<p class="project-category-identifier">PERSONAL PROJECTS</p>
			<p class="project-category-description">
				Projects that I develop after the 9 to 5 timespan. I love Blizzard’s Starcraft 2, so I started 3 projects for Romania.
				<br/><br/>
				I’m also preparing an Udemy course for 2015, in which I intend to teach about the MEAN stack, in a practical way.
			</p>
			<button class="btn btn-info web-projects" ng-click="loadPersonalProjects()">Load personal projects</button>
		</li>
	</ul>
</div>
