<div class="menu-project-categories">
	<ul>
		<li>
			<p class="project-category-identifier">DESIGN</p>
			<p class="project-category-description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit fermentum odio, et posuere massa convallis non.
				Sed posuere, neque vitae gravida faucibus
			</p>
			<button class="btn btn-info graphics-project" ng-click="loadGraphicsProjects()">Load graphic &amp; design projects</button>
		</li>
		<li>
			<p class="project-category-identifier">DEVELOPMENT</p>
			<p class="project-category-description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit fermentum odio, et posuere massa convallis non.
				Sed posuere, neque vitae gravida faucibus
			</p>
			<button class="btn btn-info web-projects" ng-click="loadWebDevelopmentProjects()">Load web development projects</button>
		</li>
		<li>
			<p class="project-category-identifier">PERSONAL PROJECTS</p>
			<p class="project-category-description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit fermentum odio, et posuere massa convallis non.
				Sed posuere, neque vitae gravida faucibus
			</p>
			<button class="btn btn-info web-projects" ng-click="loadPersonalProjects()">Load personal projects</button>
		</li>
	</ul>
</div>
