<script>
	$(document).ready(function(){
		var activeTimelineElement = $('.active-year');

		$('.year-container').on('click', function(){
			activeTimelineElement.removeClass('active-year');
			$(this).addClass('active-year');
			activeTimelineElement = $(this);
		});
	});
</script>

<div class="time-line-container container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">
				<div class="year-container" ui-sref="allProjects.projects2007({year: '2007', type: 'web development'})" ui-sref-active="active-year">
					<p class="projects-year">2007</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="year-container" ui-sref="allProjects.projects2008({year: '2008', type:'web development'})" ui-sref-active="active-year">
					<p class="projects-year">2008</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="year-container" ui-sref="allProjects.projects2009({year: '2009', type: 'web development'})" ui-sref-active="active-year">
					<p class="projects-year">2009</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="year-container" ui-sref="allProjects.projects2010({year: '2010', type: 'web development'})" ui-sref-active="active-year">
					<p class="projects-year">2010</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="year-container" ui-sref="allProjects.projects2011({year: '2011', type:'web development'})" ui-sref-active="active-year">
					<p class="projects-year">2011</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="year-container" ui-sref="allProjects.projects2012({year: '2012', type: 'web development'})" ui-sref-active="active-year">
					<p class="projects-year">2012</p>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<p class="timeline-section-identifier">You're currently viewing the <span style="color: #2ac5c6;">Web Development Projects</span> section of my portfolio.</p>
		</div>
	</div>
</div>