<script>
	$(document).ready(function(){
		var activeTimelineElement = $('.active-year');

		$('.year-container').on('click', function(){
			activeTimelineElement.removeClass('active-year');
			$(this).addClass('active-year');
			activeTimelineElement = $(this);
		});
	});
</script>

<div class="time-line-container container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">
				<div class="year-container" ui-sref="allPersonalProjects.personal2014" ui-sref-active="active-year">
					<p class="projects-year">2014</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="year-container" ui-sref="allPersonalProjects.personal2015" ui-sref-active="active-year">
					<p class="projects-year">2015</p>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<p class="timeline-section-identifier">You're currently viewing the <span style="color: #2ac5c6;">Personal Projects</span> section of my portfolio.</p>
		</div>
	</div>
</div>