<div class="row">
	<div class="col-md-12">
		<div class="col-md-2 menu-project-details-sidebar">
				<ul>
					<li>
						<p class="project-category-identifier">PROJECT DESCRIPTION</p>
						<p class="project-category-description">
							{{ portfolioDetail.description }}
						</p>
					</li>
					<li class="project-complexity-icon">
						<p class="project-category-identifier">PROJECT COMPLEXITY</p>
						<div class="container-project-complexity-{{ portfolioDetail.projectComplexity }}">
							<p>{{ portfolioDetail.projectComplexity }}</p>
						</div>
					</li>
					<li>
						<p class="project-category-identifier">TEAM MEMBERS</p>
						<ul class="container-team-members-project-detail">
							<li ng-repeat="projectMember in portfolioDetail.projectMembers">
								<img class="project-member" ng-src="img/avatars-team-project/{{ projectMember.avatarImage }}"/>
							</li>
						</ul>
					</li>
				</ul>
		</div>
		<div class="col-md-8 project-image-container">
			<p class="project-category-identifier">PROJECT NAME: {{ portfolioDetail.name }}</p>
			<div ng-if="portfolioDetail.type == 'web development'">
				<div style="width:1024px; height: 600px; margin-top: 15px;">
					<img class="project-teaser-image" ng-src="img/portfolio/{{ portfolioDetail.projectMainImage }}"/>
				</div>
			</div>
			<div ng-if="portfolioDetail.type == 'graphic design'">
				<div style="width:800px; height: 600px; margin-top: 15px;">
					<img class="project-teaser-image" ng-src="img/portfolio/graphic/{{ portfolioDetail.projectMainImage }}"/>
				</div>
			</div>
			<div ng-if="portfolioDetail.type == 'personal'">
				<div style="width:800px; height: 600px; margin-top: 15px;">
					<img class="project-teaser-image" ng-src="img/portfolio/personal/{{ portfolioDetail.projectMainImage }}"/>
				</div>
			</div>
		</div>
		<div class="col-md-2 right-sidebar-project-details">
			<div ng-if="projectStatus.length > 0">
				<p class="project-category-identifier project-status">STATUS: <a href="{{ projectStatus }}" target="_blank" class="btn btn-success online-btn">ONLINE</a></p>
			</div>
			<div ng-if="projectStatus.length == 0 && gitHubLink.length > 0">
				<p class="project-category-identifier project-status"><a href="{{ gitHubLink }}" target="_blank" class="btn btn-success online-btn">VIEW ON GITHUB</a></p>
			</div>
			<div ng-if="projectStatus.length == 0 && portfolioDetail.type != 'graphic design' && gitHubLink == 0">
				<p class="project-category-identifier">Status: Offline</p>
			</div>
			<div ng-if="projectStatus.length == 0 && portfolioDetail.type == 'graphic design'">
				<p class="project-category-identifier">Graphic Design Project</p>
			</div>
			<p class="project-category-identifier">TECHNOLOGIES USED</p>
			<div class="row">
				<div class="col-md-12">
					<div ng-repeat="technology in portfolioDetail.technologiesUsed" class="col-md-6 technology-used">
						<p class="technology-used-text">{{ technology }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>