<div class="container contact-container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3 word-of-advice-container">
				<h3>A WORD OF</h3>
				<h1>ADVICE</h1>
				<p>There are a bunch of sayings about time: &quot;Time is money&quot;, &quot;Time is running out&quot;, &quot;Do not waste my time&quot;.</p>
				<p>If you believe and adhere to at least one of the sayings above, then you’ll understand the following rules for email, Skype and Linkedin.</p>
			</div>
			<div class="col-md-3 rules-contact email-container">
				<h3><i class="fa fa-envelope"></i> Email</h3>
				<ul>
					<li>1. Please do not write 1000 characters emails and get to the point in the last few paragraphs. I will not read such an email!</li>
					<li>2. Always be succinct and to the point – and I’ll return the favor;</li>
					<li>3. Please do not write about outsourcing projects – I’ve been in the outsourcing game for almost 10 years and I’m not interested in such jobs.</li>
					<li>4. I will get back to you as soon as I can – 1 to 2 working days. If I don’t answer back, it means that you haven’t read carefully the previous 3 statements.</li>
				</ul>

				<div class="contact-options-container">
					<h3 class="teaser-contact-text">Drop me a line @</h3>
					<a class="email-address" href="mailto:cristidrincu@gmail.com">cristidrincu[at]gmail.com</a>
				</div>
			</div>
			<div class="col-md-3 rules-contact skype-container">
				<h3><i class="fa fa-skype"></i> Skype</h3>
				<ul>
					<li>1. Please always tell me your name and the company you’re working for, or at least your name and what’s your interest in talking to me. Skype requests like “My name is John Doe and I would like to add you etc” will not be taken into consideration.</li>
					<li>2. My skype schedule is 09:30 CET to 18:30 CET – please respect this schedule. My time is valuable and so is yours.</li>
				</ul>

				<div class="contact-options-container">
					<h3 class="teaser-contact-text">Add me on skype</h3>
					<p class="skype-address">cristian.drincu</p>
				</div>
			</div>
			<div class="col-md-3 rules-contact linkedin-container">
				<h3><i class="fa fa-linkedin-square"></i> LinkedIn</h3>
				<ul>
					<li>1. It’s always nice to log in and find that you have messages. It’s not so nice to see they are all about outsourcing projects. As I’ve already stated, my outsourcing days are done.</li>
					<li>2. Just the other day I’ve received a message that was more than 1000 characters, poorly formatted and with a ton of mistakes. If I can plan my time to write a nice and clean resume or reach the superstar status on my LinkedIn profile, the least you can do is properly format your messages.</li>
					<li>3. Do not add me just because you can. If we’ve never met, worked together or have no common friends, you can send me a message and we’ll take it from there.</li>
				</ul>

				<div class="contact-options-container">
					<h3 class="teaser-contact-text">Go and checkout my</h3>
					<a class="linkedin-address" href="https://www.linkedin.com/profile/view?id=14815399&trk=nav_responsive_tab_profile_pic" target="_blank">LinkedIn Profile</a>
				</div>
			</div>
		</div>
	</div>
</div>