.container-year-teaser-text{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    color: #959494;
    margin-top: 30px;
    -webkit-animation: 0.5s fadeInUp ease;
    -moz-animation: 0.5s fadeInUp ease;
    -o-animation: 0.5s fadeInUp ease;
    animation: 0.5s fadeInUp ease;
}

.container-teaser-text h1{
    font-size: 50px;
    margin-left: 20px;
}

.container-teaser-text p{
    font-size: 20px;
    line-height: 28px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.container-text-technology h1{
    font-size: 30px;
}

.container-text-technology h3{
    font-size: 15px;
    margin-top: -5px;
}

.container-text-technology p {
    font-size: 13px;
    line-height: 24px;
    width: 90%;
}

.container-text-technology h1, .container-text-technology h3{
    color: #2ac5c7;
}

/*#left-scroll-button {*/
    /*position: relative;*/
    /*z-index: 80;*/
    /*float: left;*/
    /*margin-left: 42px;*/
/*}*/

/*#right-scroll-button{*/
    /*position: relative;*/
    /*z-index: 80;*/
    /*float: right;*/
    /*margin-right: 50px;*/
/*}*/

/*.skills-timeline{*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/

/*#container-years{*/
    /*position: absolute;*/
    /*width: 5000px;*/
/*}*/

/*#skills-2002, #skills-2007, #skills-2012, #skills-2014, #skills-2015{*/
    /*width: 980px;*/
    /*min-height:100%;*/
    /*float: left;*/
    /*display: inline-block;*/
    /*border: 1px solid red;*/
    /*text-align: center;*/
/*}*/

/*.container-year-logo{*/
    /*width: 980px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-bottom: 80px;*/
/*}*/

/*.skills-year-container{*/
    /*width: 980px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

/*.skills-year-container h3{*/
    /*font-size: 30px;*/
    /*padding-top: 40px;*/
    /*color: #b0aeae;*/
/*}*/

/*.skills-year-container p{*/
    /*width: 80%;*/
    /*font-size: 24px;*/
/*}*/

/*.container-tech-logo-square, .container-tech-logo-horizontal{*/
    /*text-align: center;*/
/*}*/

/*.container-tech-logo-square p{*/
    /*font-size: 20px;*/
    /*margin-bottom: 30px;*/
/*}*/

/*.container-tech-logo-horizontal img{*/
    /*margin-top: 25px;*/
    /*margin-bottom: 65px;*/
/*}*/

/*.technology-description{*/
    /*font-size: 12px;*/
    /*line-height: 22px;*/
    /*color: #a0a0a0;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
/*}*/

/*#photoshop-text, #flash-text, #xml-text, #html-text, #css-text, #javascript-text, #java-text, #mysql-text, #hibernate-text, #nodejs-text, #mongodb-text, #angularjs-text, #swift-text{*/
    /*display: none;*/
/*}*/

/*#discover-photoshop-skill:hover, #discover-flash-skill:hover, #discover-xml-skill:hover, #discover-html-skill:hover, #discover-css-skill:hover, #discover-javascript-skill:hover, #discover-java-skill:hover,*/
/*#discover-mysql-skill:hover, #discover-hibernate-skill:hover, #discover-nodejs-skill, #discover-mongodb-skill, #discover-angularjs-skill:hover, #discover-swift-skill:hover{*/
    /*cursor: pointer;*/
/*}*/

/*.highlight-skills-year{*/
    /*color: #2ac5c6;*/
/*}*/

/*.container-tech-2002, .container-tech-2007, .container-tech-2012, .container-tech-2014, .container-tech-2015{*/
    /*padding-top: 100px;*/
    /*border-right: 1px dotted #2ac5c6;*/
/*}*/

/*#discover-photoshop-skill, #discover-flash-skill, #discover-xml-skill, #discover-html-skill, #discover-css-skill, #discover-javascript-skill, #discover-java-skill, #discover-mysql-skill, #discover-hibernate-skill,*/
/*#discover-nodejs-skill, #discover-mongodb-skill, #discover-angularjs-skill, #discover-swift-skill {*/
    /*text-align: left;*/
/*}*/

/*#discover-photoshop-skill p, #discover-flash-skill p, #discover-xml-skill p, #discover-html-skill p, #discover-css-skill p, #discover-javascript-skill p, #discover-java-skill p, #discover-mysql-skill p,*/
/*#discover-hibernate-skill p, #discover-nodejs-skill p, #discover-mongodb-skill p, #discover-angularjs-skill p, #discover-swift-skill p{*/
    /*font-size: 11px;*/
    /*margin-top: -10px;*/
/*}*/

/*.color-technology{*/
    /*color: #fff;*/
/*}*/

/*.close-skills{*/
    /*color: #fff;*/
    /*float: left;*/
    /*margin-top: 50px;*/
    /*margin-bottom: 30px;*/
    /*margin-left: 43px;*/
/*}*/

/*.close-skills:hover{*/
    /*cursor: pointer;*/
/*}*/
