.container-menu{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #48474d;
    z-index: 100;
}

#navbar{
    position: relative;
    top:-35px;
}

.nav-menu {
    padding-top: 35px;
    margin-left: 65px;
}

.logo-contaier{
    padding-top: 25px;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline-block;
    color: #77757d;
    margin-left: 110px;
}

.nav-menu ul li a{
    color: #7a7880;
    text-decoration: none;
}

.nav-menu ul li a:hover{
    cursor: pointer;
}

.logo-site:hover{
    cursor: pointer;
}