<div class="container-absolute-portfolio-images">
	<div ng-if="portfolioDetail.type == 'web development'">
		<ul>
			<li style="display: inline-block;"><img class="main-image-portfolio-project" data-ng-src="img/portfolio/{{ portfolioDetail.projectMainImage }}"/></li>
			<li style="display: inline-block;" data-ng-repeat="thumbnailImage in portfolioDetail.projectImages ">
				<a data-ng-click="openLightboxModal($index)">
					<img class="secondary-image-portfolio-project" data-ng-src="{{ thumbnailImage.thumbnailUrl }}"/>
				</a>
			</li>
		</ul>
	</div>
	<div ng-if="portfolioDetail.type == 'graphic design'">
		<ul>
			<li style="display: inline-block;"><img class="main-image-portfolio-project" data-ng-src="img/portfolio/graphic/{{ portfolioDetail.projectMainImage }}"/></li>
			<li style="display: inline-block;" data-ng-repeat="thumbnailImage in portfolioDetail.projectImages ">
				<a data-ng-click="openLightboxModal($index)">
					<img class="secondary-image-portfolio-project" data-ng-src="{{ thumbnailImage.thumbnailUrl }}"/>
				</a>
			</li>
		</ul>
	</div>
	<div ng-if="portfolioDetail.type == 'personal'">
		<ul>
			<li style="display: inline-block;"><img class="main-image-portfolio-project" data-ng-src="img/portfolio/personal/{{ portfolioDetail.projectMainImage }}"/></li>
			<li style="display: inline-block;" data-ng-repeat="thumbnailImage in portfolioDetail.projectImages ">
				<a data-ng-click="openLightboxModal($index)">
					<img class="secondary-image-portfolio-project" data-ng-src="{{ thumbnailImage.thumbnailUrl }}"/>
				</a>
			</li>
		</ul>
	</div>
</div>