body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', sans-serif;
}

.clearFloats{
    clear: both;
}

.home, .about, .team, .portfolio, .projects, .contact{
    padding-top: 100px;
    /*height:1200px;*/
    min-height: 100%;
}

.skills-container{
    padding-top: 100px;
}

.logo-container{
    padding-left: 20px;
    padding-top: 35px;
}

.home-page-container{
    padding-top: 190px;
    text-align: center;
    -webkit-animation: 2s fadeIn ease;
    -moz-animation: 2s fadeIn ease;
    -o-animation: 2s fadeIn ease;
    animation: 2s fadeIn ease;
}

.home-page-question, .home-page-answer{
    font-size: 70px;
}

.home-page-answer{
    margin-bottom: 60px;
}

.text-name{
    font-size: 23px;
    margin-top: -10px;
    color: #2ac5c6;
}

.button-about-me{
    width:200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #d2cfd7;
    border-radius: 5px;
    padding-top: 13px;
    margin-bottom: 100px;
}

.button-about-me:hover{
    background-color: #000;
}

.button-about-me a{
    text-decoration: none;
    cursor: pointer;
    color: #2ac5c6;
}

.container-id-squares, .container-id-squares-beliefs, .container-id-squares-skills{
    width: 80px;
    height: 24px;
    float: left;
    position: relative;
    top: 10px;
}

.top-status-ready-indicator-mission{
    width: 24px;
    height: 24px;
    background-color: #2ac5c6;
    margin-bottom: 5px;
}

.bottom-status-ready-indicator-mission{
    width: 24px;
    height: 24px;
    background-color: #2ac5c6;
    float: left;

}

.right-status-ready-indicator-mission{
    width: 24px;
    height: 24px;
    background-color: #2ac5c6;
    float: left;
    margin-left: 5px;
}



