<div class="col-md-4">
	<div class="globe-container">
		<div class="container-text-globe">
			<div class="container-team-friends-text">
				<h1 id="btn-discover-my-team"><span class="my-mission">MY</span> <strong>TEAM</strong></h1>

				<div id="synopsis-team">
					<p>When I started Globe Studios back in 2007, I was completely alone. It was a split moment decision
						that I should start my own company.</p>

					<p>As more and more projects came my way, I was unable to honor them anymore – so I’ve started asking
						my friends and searching job portals.

						When I was done, the team of 2008-2010 consisted of Arnold, Ciprian, Simina and me.</p>

					<p>2010 brought new faces to the table, while old ones had to go. Robert and Arjana joined the team,
						while Ciprian and Simina left.</p>

					<p>Until its closure, Globe Studio’s team of 2010-2012 was formed by me, Arnold, Robert and
						Arjana. </p>
				</div>
				<h1 id="btn-discover-my-friends"><span class="my-mission">MY</span> <strong>FRIENDS</strong></h1>

				<div id="synopsis-friends">
					<p>I’m proud to say that even after all this time, we’re still in touch. Arnold is one of my best
						friends and I’m happy to say that we can exchange,
						eventually, ideas and discussions about the backend. In the early days, my frontend work was voodoo
						magic for him, and his backend work was something similar for me.</p>

					<p>As for Robert and Arjana, I just visited them in Scotland last year and had a great time doing
						so.</p>

					<p>Ciprian has moved to Germany, but we did manage to bump into each other during the summer holidays.
						Simina is an art-director now, working for Fortune 500 companies.</p>
				</div>
				<h1 id="btn-discover-our-goal"><span class="my-mission">OUR</span> <strong>GOAL</strong></h1>

				<div id="synopsis-goal">
					<p>The goal of each team was a simple one – embark on an ordinary project and make it something else,
						something that was unique. We’ve never used any templates or purchased themes, everything was
						started from scratch.</p>

					<p>I’ve also believed, and still believe, that learning from each other and improving every day was a
						crucial goal that would allow us to work faster and better.</p>
				</div>
			</div>
		</div>
	</div>
</div>