

			<div class="col-md-8 container-img-team-member">

				<!--TEAM ROW 1-->
				<div class="row main-container-team-member">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/cristian-drincu-edit.png" alt="Cristian Sergiu Drincu"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>CRISTIAN SERGIU DRINCU</h3>
								<p class="member-role">FRONTEND&amp;BACKEND DEV</p>
								<p class="member-description">
									I think, by now, you already know all there is to know about me so the last thing remaining is for you to check my LinkedIn profile, which you can visit by clicking on the link below.
								</p>
								<!--<div class="btn-profile-linkedin">-->
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> CRISTIAN&rsquo;S PROFILE</a>
								<!--</div>-->
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/ispan-arnold-edit.png" alt="Ispan Arnold"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>ARNOLD ISPAN</h3>
								<p class="member-role">BACKEND DEV</p>
								<p class="member-description">
									Arnold’s skills are located in the world of PHP and MySQL. He’s built a backend management platform after graduation, then picked up CakePHP and lately he’s been working with the Symfony framework.
								</p>
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> ARNOLD&rsquo;S PROFILE</a>
							</div>
						</div>
					</div>
				</div>

				<!--TEAM ROW 2-->
				<div class="row main-container-team-member">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/ciprian-dulca-edit.png" alt="Ciprian Dulca"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>CIPRIAN DULCA</h3>
								<p class="member-role">GRAPHIC &amp; WEB DESIGNER</p>
								<p class="member-description">
									Ciprian graduated from the University of Art, with a majors in Graphic Design. His weapons of choice are Adobe Photoshop and Illustrator, but he’s not shy about Maya or 3D Studio Max.
								</p>
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> CIPRIAN&rsquo;S PROFILE</a>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/simina-sirbu-edit.png" alt="Simina Sirbu"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>SIMINA SIRBU</h3>
								<p class="member-role">GRAPHIC & WEB DESIGNER</p>
								<p class="member-description">
									Simina majored in Graphic Design, same university as Ciprian. When we met, she blew our mind with her logos and that she never designed for the web. 2 years spent at Globe gave her that opportunity.
								</p>
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> SIMINA&rsquo;S PROFILE</a>
							</div>
						</div>
					</div>
				</div>

				<!--TEAM ROW 3-->
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/arjana-jumanca-edit.png" alt="Arjana Jumanca"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>ARJANA JUMANCA</h3>
								<p class="member-role">MARKETING &amp; FINANCE</p>
								<p class="member-description">
									I’ve met Arjana in 2009, when I started my studies in computer science. She was keen on doing marketing and planning. So we gave her that chance.
								</p>
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> ARJANA&rsquo;S PROFILE</a>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/robert-sescu-edit.png" alt="Robert Sescu"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>ROBERT SESCU</h3>
								<p class="member-role">FRONTEND&amp;BACKEND DEV</p>
								<p class="member-description">
									2009 was the year I’ve met Robert as well, and guess what – we were studying computer science together. He wanted to get his hands dirty on web projects, so we took him aboard.
								</p>
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> ROBERT&rsquo;S PROFILE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
