

			<div class="col-md-8 container-img-team-member">

				<!--TEAM ROW 1-->
				<div class="row main-container-team-member">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/cristian-drincu-edit.png" alt="Cristian Sergiu Drincu"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>CRISTIAN SERGIU DRINCU</h3>
								<p class="member-role">FRONTEND&amp;BACKEND DEV</p>
								<p class="member-description">
									I've been busy programming and designing apps since 2002. I've started by building my faculty's first multimedia CD, crafted with Macromedia Flash.
								</p>
								<div class="btn-profile-linkedin">
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> PROFILE</a>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/ispan-arnold-edit.png" alt="Ispan Arnold"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>ARNOLD ISPAN</h3>
								<p class="member-role">BACKEND DEV</p>
								<p class="member-description">
									I've been busy programming and designing apps since 2002. I've started by building my faculty's first multimedia CD, crafted with Macromedia Flash.
								</p>
								<div class="btn-profile-linkedin">
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> PROFILE</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--TEAM ROW 2-->
				<div class="row main-container-team-member">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/ciprian-dulca-edit.png" alt="Ciprian Dulca"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>CIPRIAN DULCA</h3>
								<p class="member-role">GRAPHIC &amp; WEB DESIGNER</p>
								<p class="member-description">
									I've been busy programming and designing apps since 2002. I've started by building my faculty's first multimedia CD, crafted with Macromedia Flash.
								</p>
								<div class="btn-profile-linkedin">
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> PROFILE</a>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/simina-sirbu-edit.png" alt="Simina Sirbu"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>SIMINA SIRBU</h3>
								<p class="member-role">GRAPHIC & WEB DESIGNER</p>
								<p class="member-description">
									I've been busy programming and designing apps since 2002. I've started by building my faculty's first multimedia CD, crafted with Macromedia Flash.
								</p>
								<div class="btn-profile-linkedin">
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> PROFILE</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--TEAM ROW 3-->
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/arjana-jumanca-edit.png" alt="Arjana Jumanca"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>ARJANA JUMANCA</h3>
								<p class="member-role">MARKETING &amp; FINANCE</p>
								<p class="member-description">
									I've been busy programming and designing apps since 2002. I've started by building my faculty's first multimedia CD, crafted with Macromedia Flash.
								</p>
								<div class="btn-profile-linkedin">
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> PROFILE</a>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-4">
								<img src="img/team/robert-sescu-edit.png" alt="Robert Sescu"/>
							</div>
							<div class="col-md-8 container-info-team-member">
								<h3>ROBERT SESCU</h3>
								<p class="member-role">FRONTEND&amp;BACKEND DEV</p>
								<p class="member-description">
									I've been busy programming and designing apps since 2002. I've started by building my faculty's first multimedia CD, crafted with Macromedia Flash.
								</p>
								<div class="btn-profile-linkedin">
									<a class="linkedin-target" href="#" target="_blank"><i class="fa fa-linkedin-square"></i> PROFILE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
