/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    #navbar{
        position: relative;
        top: 0;
        background-color: #48474D;
        margin-left: 5px;
        border: none;
        margin-bottom: 20px;
    }

    .logo-container{
        width:  150px;
    }

    .home-page-container{
        padding-top: 30px;
    }

    #nav-bar{
        width: inherit;
    }

    .nav-menu{
        position: relative;
        top: -75px;
    }

    .nav-menu ul li{
        margin-left: 38px;
    }

    .project-teaser-image-container{
        height: 170px;
    }

    .project-teaser-image{
        width: 75%;
    }

    .project-title{
        font-size: 12px;
    }

    .project-description-teaser{
        margin-top: 0;
    }

    .graphics-project, .web-projects{
        font-size: 9px;
    }

    .project-teaser-image-large{
        width: 78%;
    }

    .skills-container h1{
        font-size: 65px;
    }

    .mission-container h1.beliefs-h1-small{
        font-size: 50px;
        margin-bottom: 20px;
    }

    .mission-container h1.last-in-motto{
        margin-top: -30px;
    }

    .mission-container h1.beliefs-h1-large{
        font-size: 130px;
    }

    .mission-container h1.beliefs-h1-largest{
        font-size: 200px;
    }

    .mission-container h1.beliefs-h1-small-multiple-lines{
        font-size: 23px;
    }

    .mission-container p{
        margin-left: 12px;
        margin-right: 12px;
        font-size: 16px;
    }

    .container-team-friends-text h1{
        font-size: 60px;
    }

    .team-member-image-container{
        width: 120px;
    }

    .team-member-image-container img{
        width: 115px;
        height: 117px;
    }

    .container-info-team-member{
        width: 500px;
        position: relative;
        left: 130px;
        top: -130px;
    }

    .container-info-team-member h3{
        font-size: 20px;
    }

    .year-container{
        width: 65px;
        height: 65px;
        padding-top: 22px;
    }

    .container-main-project-teaser-images{
        margin-bottom: 20px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}