.portfolio-container{
    position: relative;
    padding-top: 100px;
    width: 100%;
}

.project-title{
    margin-top: 0;
    font-size: 16px;
}

.container-project-details{
    /*margin-top: 25px;*/
}

.container-details-about-project{
    height: 535px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.project-image-container{
    padding-top: 45px;
}

.container-team-members-project-detail li{
    display: inline-block;
    margin-right: 5px;
}

.container-main-project-teaser-images{
    position: relative;
    height: 480px;
}

.project-member{
    -webkit-animation: 0.5s bounceIn ease;
    -moz-animation: 0.5s bounceIn ease;
    -o-animation: 0.5s bounceIn ease;
    animation: 0.5s bounceIn ease;
}

.project-type-title{
    color: #666;
    margin-top: -10px;
    font-size: 12px;
}

.project-teaser-image-container{
    width: 200px;
    height: 200px;
}

.project-teaser-image, .project-teaser-image-large{
    border:1px solid #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    -webkit-animation: 0.5s flipInX ease;
    -moz-animation: 0.5s flipInX ease;
    -o-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}

.project-description-teaser{
    font-size: 12px;
    height: 150px;
    margin-top: 20px;
}

.load-project{
    width: 97%;
    background-color: #fff;
    color: #666;
    border: 1px solid #d4d4d4;
}

.load-project:hover{
    border: 1px solid #2ac5c6;
    background-color: #2ac5c6;
}

.timeline-section-identifier{
    margin-top:25px;
    margin-bottom: 25px;
    margin-left: -13px;
}

.container-project-image-large{
    margin-top: 15px;
}

.container-portfolio-images-middle{
    position: relative;
    /*top: 450px;*/
}

.container-absolute-portfolio-images{
    position: absolute;
    z-index: 100;
    top: 450px;
    -webkit-animation: 1.0s rubberBand ease;
    -moz-animation: 0.5s rubberBand ease;
    -o-animation: 0.5s rubberBand ease;
    animation: 0.5s rubberBand ease;
}

.main-image-portfolio-project{
    border-radius: 360px;
    border: 10px solid white;
}

.secondary-image-portfolio-project{
    border-radius: 360px;
    border: 5px solid white;
    margin-top: 20px;
    margin-left: 20px;
}

.secondary-image-portfolio-project:hover{
    cursor: pointer;
}

h1.project-name{
    font-weight: bold;
    font-size: 80px;
    padding-top: 30px;
    color: #525252;
    float:left;
}

.container-prev-next-project-details {
    float: right;
    position: relative;
    top: 70px;
    right: 30px;
    -webkit-animation: 1.0s flipInX ease;
    -moz-animation: 0.5s flipInX ease;
    -o-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}

.container-prev-next-project-details ul li {
    display: inline-block;
}

p.project-description-full{
    font-size: 30px;
    color: #525252
}

.container-github-online-status{
    padding-top: 100px;
}

.list-github-online-status{
    margin-top: -12px;
    padding: 0
}

.list-github-online-status li {
    display: inline-block;
    margin-right: 10px;
}

.list-github-online-status li a.default-link{
    color: #525252;
}

.list-github-online-status li:nth-child(1){
    margin-right: 10px;
}

.container-footer-portfolio-detail{
    background-color: #000;
}

.container-team-work-project{
    height: 420px;
}

.container-team-work-project h1 {
    padding-top: 270px;
    font-weight: bold;
    color: #fff;
    float: left
}

.container-team-work-project ul {
    float: left;
    padding-top: 270px;
}

.container-team-work-project ul li {
    display: inline-block;
    margin-right: 10px;
}

.container-project-complexity-status h1{
    padding-top: 270px;
    color: #fff;
    float: right;
    margin-right: 100px;
}

.link-return-to-projects {
    color: #2ac5c7;
}

