.portfolio-container{
    padding-top: 10px;
    width: 100%;
    min-height: 100%;
}

.project-title{
    margin-top: 0;
    font-size: 16px;
}

.container-project-details{
    /*margin-top: 25px;*/
}

.project-image-container{
    padding-top: 45px;
}

.container-team-members-project-detail li{
    display: inline-block;
    margin-right: 5px;
}

.project-teaser-image{
    border:1px solid #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.project-description-teaser{
    font-size: 12px;
    height: 150px;
    margin-top: 20px;
}

.load-project{
    width: 97%;
    background-color: #fff;
    color: #666;
    border: 1px solid #d4d4d4;
}

.load-project:hover{
    border: 1px solid #2ac5c6;
    background-color: #2ac5c6;
}

.timeline-section-identifier{
    margin-top:25px;
    margin-bottom: 25px;
    margin-left: -13px;
}