.menu-project-categories{
    -webkit-animation: 0.5s fadeInLeft ease;
    -moz-animation: 0.5s fadeInLeft ease;
    -o-animation: 0.5s fadeInLeft ease;
    animation: 0.5s fadeInLeft ease;
}

.menu-project-categories, .right-sidebar-project-details{
    padding-top: 45px;
}

.menu-project-details-sidebar{
    padding-top: 45px;
}

.menu-project-categories ul, .menu-project-details-sidebar ul{
    margin:0;
    padding: 0;
    list-style: none;
    color: #2ac5c6;
}

.menu-project-categories ul li, .menu-project-details-sidebar ul li{
    margin-bottom: 20px;
}

.menu-project-categories ul li p.project-category-identifier{

}

.project-category-identifier{
    font-size: 16px;
    color: #2ac5c6;
}

.menu-project-categories ul li.main-list-title{
    font-size: 100px;
}

.project-category-description, .technology-architecture-choice{
    width: 80%;
    font-size: 12px;
    color: #666666;
    /*color: #8e9191;*/
    /*color: #333;*/
    margin-top: 5px;
    margin-bottom: 10px;
}

.graphics-project, .web-projects{
    width: 80%;
    font-size: 12px;
    background-color: #2ac5c6;
}

.container-project-complexity-small, .container-project-complexity-medium, .container-project-complexity-complex{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    margin-left: 40px;
}

.container-project-complexity-small{
    background-color: #2bc5c6;
}

.container-project-complexity-small, .container-project-complexity-medium, .container-project-complexity-complex{
    background-color: #ffae00;
    -webkit-animation: 0.5s flipInX ease;
    -moz-animation: 0.5s flipInX ease;
    -o-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}

.container-project-complexity-complex{
    background-color: #ff5400;
}

.container-project-complexity-small p, .container-project-complexity-medium p, .container-project-complexity-complex p{
    color: #fff;
    position: relative;
    top: 32px;
}

.technology-used{
    width: 90px;
    height: 90px;
    border: 3px solid #2ac5c6;
    border-radius: 50%;
    margin-right: 7px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 12px;
}

.technology-used-text{
    padding-top: 33px;
}

.online-btn{
    position: relative;
    top:-2px;
}

.project-status{
    margin-bottom: 20px;
}

.technology-used{
    -webkit-animation: 0.5s bounceInUp ease;
    -moz-animation: 0.5s bounceInUp ease;
    -o-animation: 0.5s bounceInUp ease;
    animation: 0.5s bounceInUp ease;
}