<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="home-page-container">
				<h1 class="home-page-question">Q: HOW MUCH IS 1 + 1?</h1>
				<h1 class="home-page-answer">A: HOW MUCH DO YOU WANT IT TO BE?</h1>
				<p class="intro-text">THE PORTFOLIO, WORK LOG &amp; PROJECTS OF</p>
				<p class="text-name">CRISTIAN SERGIU DRINCU</p>
				<div class="button-about-me">
					<a data-scroll-goto="1">ABOUT ME</a>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>