.team-container{
    width:100%;
}

.globe-container{
    text-align: center;
    padding-top: 100px;
}

.main-container-team-member{
    margin-bottom: 50px;
}

.container-text-globe{
    font-size: 14px;
    text-align: left;
    /*padding-left: 55px;*/
}

.container-team-friends-text{

}

.container-team-friends-text h1{
    font-size: 70px;
    margin: 0;
    /*color: #d7d7d7;*/
}

.container-text-globe p{
  margin-bottom: 25px;
  font-size: 13px;
  color: #a09e9e;
}

.container-img-team-member{
    padding-top: 60px;
}

.container-info-team-member h3{
    color: #2ac5c6;
    font-weight: normal;
}

.member-role{
    color: #2ac5c6;
    margin-top:-10px;
}

.member-description {
    font-size: 13px;
    color: #a09e9e;
}

.linkedin-target, .linkedin-target:hover{
    color: #707070;
    text-decoration: none;
}

.btn-profile-linkedin{
    width: 100%;
    height: 46px;
    /*border: 1px solid #2ac5c6;*/
    border: 1px solid #d7d7d7;
    text-align: center;
    padding-top: 12px;
}

.btn-profile-linkedin:hover{
    background-color: #000;
}

#synopsis-team, #synopsis-friends, #synopsis-story, #synopsis-goal{
    display: none;
}
#btn-discover-my-team:hover, #btn-discover-my-friends:hover, #btn-discover-our-mission:hover, #btn-discover-our-goal:hover{
    cursor: pointer;
}

