.skills-container h1{
    font-size: 70px;
    margin:0
}

.about-container{
    width: 100%;
}

.container-sidebar{
    padding-top: 100px;
}

.about-me-description-container{
    padding-top: 70px;
}

.about-me-description-container{
    -webkit-animation: 0.5s fadeInUp ease;
    -moz-animation: 0.5s fadeInUp ease;
    -o-animation: 0.5s fadeInUp ease;
    animation: 0.5s fadeInUp ease;
}

.about-me-description-container p{
    color: #333;
    line-height: 24px;
}

.call-me-chris{
    font-size: 100px;
    margin-top: -15px;
}

.my-mission{
   color:#d7d7d7
}

.mission-description, .beliefs-description, .skills-description{
    display:none;
}

#btn-discover-mission:hover, #btn-discover-beliefs:hover, #btn-discover-skills:hover{
    cursor: pointer;
}

#btn-discover-mission, #btn-discover-beliefs, #btn-discover-skills{
    float: none;
    font-size: 50px;
    margin: 0;
    position: relative;
    width: 100%;
}

#btn-discover-mission{
    width: 350px;
    left: 200px;
}

#btn-discover-beliefs{
    width: 350px;
    left: 50px;
}

#btn-discover-skills{
    width: 350px;
    left: -105px;
}

.active-btn, .number-skill{
    color: #2ac5c6;
}

.img-container{
    padding-top: 75px;
    padding-bottom: 40px;
    text-align: center;
}

.img-container h1{
    position: relative;
    top:10px;
    left: 15px;
}

.about-section-options{
    width: inherit;
    text-align: center;
    -webkit-animation: 1s fadeInLeft ease;
    -moz-animation: 1s fadeInLeft ease;
    -o-animation: 1s fadeInLeft ease;
    animation: 1s fadeInLeft ease;
}

.about-mission-options{
    position: relative;
    padding-top: 200px;
    left: -190px;
}

.description-container{
    padding-top: 20px;
    margin-bottom: 40px;
    -webkit-animation: 1s fadeInRight ease;
    -moz-animation: 1s fadeInRight ease;
    -o-animation: 1s fadeInRight ease;
    animation: 1s fadeInRight ease;
}

.highlight-name{
    color: #2ac5c6;
}

.highlight{
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.highlight-text:hover{
    color: #2ac5c7;
}

.highlighted-text-section{
    color: #2ac5c7;
}

.skills-timeline{
    width: 100%;
    height: 900px;
    padding-top: 100px;
    /*left: -1px;*/
    background-color: #000;
    -webkit-animation: 0.5s fadeIn ease;
    -moz-animation: 0.5s fadeIn ease;
    -o-animation: 0.5s fadeIn ease;
    animation: 0.5s fadeIn ease;
}

.mission-container{
    padding-top: 25px;
    height: 100%;
    -webkit-animation: 0.5s fadeInUp ease;
    -moz-animation: 0.5s fadeInUp ease;
    -o-animation: 0.5s fadeInUp ease;
    animation: 0.5s fadeInUp ease;
}

.mission-container h1.beliefs-h1-small, .mission-container h1.beliefs-h1-small-multiple-lines{
    color: #a2a5a5;
    font-size: 80px;
}

.mission-container h1.beliefs-h1-small{
    width: 100%;
    margin-left: 10px;
}

.mission-container h1.beliefs-h1-small-multiple-lines{
    width: 100%;
    font-size: 30px;
}

.mission-container h1.beliefs-h1-large, .mission-container h1.beliefs-h1-largest{
    color: #2ac5c6;
    font-size: 180px;
    margin-top: -40px;
}

.mission-container h1.beliefs-h1-largest{
    font-size: 250px;
}

.last-in-motto{
    width: 100%;
    margin-top: -40px;
    margin-left: 220px;
    margin-bottom: 50px;
}

.mission-container p{
    font-size: 20px;
    color: #5f5f5f;
    padding-top: 30px;
}

.return-to-main-about-section {
    font-size: 12px;
    margin-left: 10px;
}

.return-to-main-about-section:hover{
    cursor: pointer;
    color: #2ac5c6;
}

.return-icon{
    position: relative;
    top: -1px;
}

.smaller-quote{
    margin-left: -20px;
}

.quote-author{
    font-size: 25px;
    float: right;
    font-style: italic;
    margin-right: 100px;
    margin-top: -35px;
    color: #A2A5A5;
}

.slide-animate{
    height: 100%;
    position: relative;
}

.animation-about-views {
    height: 800px;
}

.animation-about-views.ng-enter, .animation-about-views.ng-leave{
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.animation-about-views.ng-enter {
    opacity: 0;
}
.animation-about-views.ng-enter.ng-enter-active {
    opacity: 1;
}
.animation-about-views.ng-leave {
    opacity: 1;
}
.animation-about-views.ng-leave.ng-leave-active {
    opacity: 0;
}