.skills-container h1{
    font-size: 70px;
    margin:0
}

.about-container{
    width: 100%;
}

.about-me-description-container p{
    color: #333;
    line-height: 24px;
}

.my-mission{
   color:#d7d7d7
}

.mission-description, .beliefs-description, .skills-description{
    display:none;
}

#btn-discover-mission:hover, #btn-discover-beliefs:hover, #btn-discover-skills:hover{
    cursor: pointer;
}

#btn-discover-mission, #btn-discover-beliefs, #btn-discover-skills{
    float: left;
}

.active-btn{
    color: #2ac5c6;
}

.img-container{
    padding-top: 75px;
}

.img-container img{
    float: left;
}

.img-container h1{
    position: relative;
    top:10px;
    left: 15px;
}

.description-container{
    padding-top: 20px;
    margin-bottom: 40px;
}

.highlight-name{
    color: #2ac5c6;
}

.highlight{
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.skills-timeline{
    width: 100%;
    height: 810px;
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    background-color: #000;
    z-index: 99;
}

.mission-container{
    padding-top: 75px;
}

.mission-container h1.beliefs-h1-small, .mission-container h1.beliefs-h1-small-multiple-lines{
    color: #a2a5a5;
    font-size: 80px;
}

.mission-container h1.beliefs-h1-small{
    width: 100%;
    margin-left: 10px;
}

.mission-container h1.beliefs-h1-small-multiple-lines{
    width: 100%;
    font-size: 30px;
}

.mission-container h1.beliefs-h1-large, .mission-container h1.beliefs-h1-largest{
    color: #2ac5c6;
    font-size: 180px;
    margin-top: -40px;
}

.mission-container h1.beliefs-h1-largest{
    font-size: 250px;
}

.last-in-motto{
    width: 100%;
    margin-top: -40px;
    margin-left: 220px;
    margin-bottom: 50px;
}

.mission-container p{
    width: 100%;
    font-size: 20px;
    color: #5f5f5f;
    margin-left: 200px;
    margin-bottom: 40px;
}

.return-to-main-about-section {
    font-size: 12px;
    margin-left: 10px;
}

.return-to-main-about-section:hover{
    cursor: pointer;
    color: #2ac5c6;
}

.return-icon{
    position: relative;
    top: -1px;
}

.quote-author{
    font-size: 15px;
    float: right;
}
