<div class="time-line-container-years-skills container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="col-sm-2 col-md-2">
				<div class="year-container" ui-sref="aboutPage.aboutMySkills.skills2002" ui-sref-active="active-year">
					<p class="projects-year">2002</p>
				</div>
			</div>
			<div class="col-sm-2 col-md-2">
				<div class="year-container" ui-sref="aboutPage.aboutMySkills.skills2007" ui-sref-active="active-year">
					<p class="projects-year">2007</p>
				</div>
			</div>
			<div class="col-sm-2 col-md-2">
				<div class="year-container" ui-sref="aboutPage.aboutMySkills.skills2012" ui-sref-active="active-year">
					<p class="projects-year">2012</p>
				</div>
			</div>
			<div class="col-sm-2 col-md-2">
				<div class="year-container" ui-sref="aboutPage.aboutMySkills.skills2014" ui-sref-active="active-year">
					<p class="projects-year">2014</p>
				</div>
			</div>
			<div class="col-sm-2 col-md-2">
				<div class="year-container" ui-sref="aboutPage.aboutMySkills.skills2015" ui-sref-active="active-year">
					<p class="projects-year">2015</p>
				</div>
			</div>
		</div>
	</div>
</div>