<div id="skills-2015">
	<div class="container-year-teaser-text container">
		<div class="container-teaser-text">
			<h1>2015 - A fresh start</h1>
			<p>It will be a year of new challenges and since everything now is mobile first, I decided to give Swift a shot.
				More programming languages, maybe Haskell,
				will follow on the &quot;wish list&quot; this year.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>Swift</h1>
					<h3>How about those tuples?</h3>
					<p>
						My interest in learning Swift came with my first iPhone ever. I want to build a movie app, but since I’ve
						never built one before, it is time to learn the programming language
						that will allow me to do just that – build that app.
						<br/><br/>
						While reading an article on the net, I’ve found out about tuples in Swift and where they originate from –
						Haskell – so this will be my 2nd programming language to learn in 2015.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>