<div id="skills-2002">
	<div class="container-year-teaser-text container">
		<div class="container-teaser-text">
			<h1>2002 - First job, first challenge... Flash</h1>
			<p>I got my first job in 2002, 2nd year of study. It was at a local TV station that hired me based on my Flash multimedia cd. I had to build a Flash based application that would load custom built ads, the news, the weather and everything in between.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>Adobe Photoshop</h1>
					<h3>What were my tasks</h3>
					<p>
						Cropping, slicing, color correction, building new templates for the ads and working with clients that wanted
						a custom built advert… I’ve done them all.
						<br/><br/>
						These were the days that Photoshop became the de facto design tool for me, and stays this way even today. It
						was the tool that I also used for my web projects back in 2007.
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>Macromedia Flash</h1>
					<h3>What did I have to build</h3>
					<p>
						An application that loaded ads, dynamically- they were
						loaded based on certain criteria, but most of the time the clients
						that choose the top advert package were first.
						<br/><br/>
						And since we’re talking advert packages, there were 3 – complex, medium and small. All of them had to be
						built from the ground up
						– design, animation and scripting, as per the client’s request and business profile.
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>XML</h1>
					<h3>How I used it</h3>
					<p>
						The news desk had 2 jobs – get fresh news off the field and insert them in an xml file with a specific
						format that I would later parse
						and insert the data in the News section of the project.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>