<div id="skills-2014">
	<div class="container-year-teaser-text container">
		<div class="container-teaser-text">
			<h1>2014 - Javascript everywhere...</h1>
			<p>…but most importantly on the server. Everyone I knew was talking about Node.js, Express and MongoDB. Pair these
				javascript
				technologies with Google’s AngularJS and you had javascript on the frontend and the backend.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>Node.JS</h1>
					<h3>Javascript on the server</h3>
					<p>
						During my stay at [e-spres-oh], I’ve met Andrei. Great guy and a great javascript developer. He kept talking
						about how Node is going to change everything.
						<br/><br/>
						I did lend an ear and after work started to play around with Node, tried Express, created some routes and I
						found myself working on a pretty complex app, that was using javascript on both ends – frontend and backend.
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>MongoDB</h1>
					<h3>No more JOINS</h3>
					<p>
						To be honest, I never enjoyed MySQL or the SQL syntax. So you can imagine the joy when I could write
						javascript code in Mongoose, the de facto ORM for MongoDB.
						<br/><br/>
						The trickiest part for me was understanding how to populate sub-documents and how to use the ObjectId
						property of models in order to create Many-To-Many relationships.
						With that out of the way, I’ve enlisted in MongoDB University certification program, that started on January
						6th, 2015.
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>AngularJS</h1>
					<h3>DI and project structure</h3>
					<p>
						This was a very strange journey for me… and to most of my colleagues. The main problem was not the
						dependency injection concept, which can be found in the Java based Spring framework, but how to structure
						your project…
						<br/><br/>
						AngularJS Novice to Ninja, from Sitepoint, is an excellent book and I encourage you to read it if you
						haven’t done so already.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>