<div id="skills-2012">
	<div class="container-year-teaser-text container">
		<div class="container-teaser-text">
			<h1>2012 - School's out...</h1>
			<p>In 2009 I decided to study computer science. There, I fell in love with Java and object oriented programming.
				At the end of 2011, I started working on my dissertation, which was built using Java, MySQL &amp; JDBC.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>JAVA SE 6</h1>
					<h3>How about some OOP?</h3>
					<p>
						Getting to work with Java was mind blowing. It was like my mind was designed to work with objects. I had
						colleagues who just could not
						get it and asked me to do their homework for them.
						<br/><br/>
						When the opportunity to create a Java application for a clinic presented itself, I jumped right in.
						Unfortunately, after graduation, the firm that i
						landed a job at did not have any Java projects whatsoever, so my Java skills remained somewhere between
						novice and intermediate...
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>MySQL</h1>
					<h3>Left Join, Right Join and the Like</h3>
					<p>
						It was when I started building my Java app that I first starting working with MySQL.
						<br/><br/>
						The experience I got was great, especially when you have to build something for the real world.
						However, writing those queries, that spanned multiple lines in JDBC, felt a little strange…
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>Hibernate</h1>
					<h3>You wrote all those queries in JDBC?</h3>
					<p>
						That was a question that I received at a job interview. When I answered “Yes”, my interviewer said: “Brave
						man!”.
						<br/><br/>
						I did not get the job, but that’s how I learned about Hibernate and Object Relational Mapping.
						<br/><br/>
						I did use Hibernate in a couple of personal projects, but not at work, since no java projects existed. I’m
						hoping to change that in 2015.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>