<div id="skills-2007">
	<div class="container-year-teaser-text container">
		<div class="container-teaser-text">
			<h1>2007 - HTML, CSS and JavaScript</h1>
			<p>Back in 2007, it was clear that Flash had a limited time span. It was time to learn the technologies that would allow Google to index web sites properly.
				So there I was, from a career that was entirely Flash based to a career in frontend development.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>HTML</h1>
					<h3>Switching from Flash to HTML</h3>
					<p>
						The transition was a bit awkward – no more drag and draw rectangles on the timeline and then add key frames and Actionscript to do their magic.
						<br/><br/>
						Instead, I had to start thinking in terms of blocks or divs which would hold content and that content had other divs inside it. But once I got past the whole floating concept, HTML became easy.
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>CSS</h1>
					<h3>Write once, apply everywhere!</h3>
					<p>
						There’s not much to say about CSS, except I fell in love with it immediately. The fact that I could divide my styles into separate files,
						modules as I like to call them, was excellent.
						<br/><br/>
						During the following years, I kept thinking about the fact that I could not do animations with it. Along came CSS3 – key frames and animations!
					</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 container-text-technology">
					<h1>Javascript &amp; JQuery</h1>
					<h3>Thinking about animation in the DOM</h3>
					<p>
						If you’ve worked with Flash, right clicking and inserting key frames, then linking those together and creating your animation was excellent.
						<br/><br/>
						However, doing that exact thing in Javascript meant that I had to work in terms of DOM elements –target them first and then manipulate them.
						<br/><br/>
						Jquery came to the rescue, reducing the amount of code I had to write In Javascript.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>